.movies {
  padding: 20px;
}

.movies h1 {
  font-size: 2em;
  color: #b10000;
}

.movies input {
  padding: 10px;
  margin-right: 10px;
  font-size: 1em;
  border-radius: 10px;
}

.movies button {
  padding: 10px;
  font-size: 1em;
  border-radius: 10px;
}

.movies button:hover {
  cursor: pointer;
  color: white;
  background-color: #023871;
}

.movies ul {
  list-style: none;
  padding: 0;
}

.movies li {
  margin-bottom: 10px;
}

.movies a {
  text-decoration: none;
  color: #0068d8;
  font-size: 20px;
}

.movies a:hover {
  font-size: 23px;
}
